<%- include('../partials/header') %>

<!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Tables</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Category Data</h5>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Image</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      <%catData.forEach((cat,index)=>{ %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= cat.name %></td>
                            <td><img src="<%= cat.image %>" width="50px" alt=""></td>
                            <td><a class="btn btn-danger" href="/delete/<%= cat.id %>">Delete</a></td>
                        </tr>
                        <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Subcategory Data</h5>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Category  </th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% subData.forEach((subcat,index)=>{ %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= subcat.name %></td>
                            <td><%= subcat.categoryId ? subcat.categoryId.name : "Category Deleted" %></td>
                            <td><a class="btn btn-danger" href="/subcat/delete/<%= subcat.id %>">Delete</a></td>
                        </tr>
                        <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Extracategory Data</h5>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Category  </th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% extraData.forEach((extracat,index)=>{ %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= extracat.name %></td>
                            <td><%= extracat.subcatId ? extracat.subcatId.name : "Subcategory Deleted" %></td>
                            <td><a class="btn btn-danger" href="/extracat/delete/<%= extracat.id %>">Delete</a></td>
                        </tr>
                        <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Right sidebar -->
          <!-- ============================================================== -->
          <!-- .right-sidebar -->
          <!-- ============================================================== -->
          <!-- End Right sidebar -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <%- include('../partials/footer') %>